* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    border: 1px solid black;
    padding: 45px 20px 20px 20px;
    margin: 10px;
    position: relative;
    background-color: #bfbfbf;
    color: black;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    border: 1px solid black;
    font-weight: bold;
}

.chicken {
    background-color: #e8b6b6;
    color: black;
}

.beef {
    background-color: #c0392b;
    color: white;
}

.sushi {
    background-color: #f1d18a;
    color: black;
}

@media (min-width: 992px) {
    .section {
        flex: 1;
        min-width: calc(33.33% - 20px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
    }

    .section:nth-child(3) {
        flex-basis: 100%;
    }
}

@media (max-width: 767px) {
    .section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
